flexbox()
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex


flex()
  -webkit-box-flex arguments
  -moz-box-flex arguments
  -webkit-flex arguments
  -ms-flex arguments
  flex arguments


order(val)
  -webkit-box-ordinal-group val
  -moz-box-ordinal-group val
  -ms-flex-order val
  -webkit-order val
  order val

div
	background white
